<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
    <style>
      .Heading{
        padding: 15px 20px;
        border: 1px solid black;
      }

    </style>
  </head>

  <body>
    <h2 class="Heading"> Activate Your Account </h2>
    <p> {{ user.username }} </p>
    <p><a href="{{domain}}/activate/{{uid}}/{{token}}/"> Activate your account </a></p>
    <p> If you did not request this , you can igonre this email </p>
  </body>

</html>